<!-- Character -->
<div class="character" data-characternumber="{{ characterId }}">
    <h3>Character #{{ characterId }}</h3>
    <h4>What species is this character? (If this character is a hybrid, check all that apply)</h4>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="wolf" type="checkbox"> Canine, Wolf</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="redfox" type="checkbox"> Canine, Fox, Red</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="greyfox" type="checkbox"> Canine, Fox, Grey</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="arcticfox" type="checkbox"> Canine, Fox, Arctic</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="kitsune" type="checkbox"> Canine, Fox, Kitsune</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="fennec" type="checkbox"> Canine, Fox, Fennec</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherfox" type="checkbox"> Canine, Fox, Other/Nonspecific</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="coyote" type="checkbox"> Canine, Coyote</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="jackal" type="checkbox"> Canine, Jackal</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="germanshepherd" type="checkbox"> Canine, Dog, German shepherd</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="husky" type="checkbox"> Canine, Dog, Husky</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="collie" type="checkbox"> Canine, Dog, Collie</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherdog" type="checkbox"> Canine, Dog, Other/Nonspecific</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="othercanine" type="checkbox"> Canine, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="tiger" type="checkbox"> Feline, Tiger</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="lion" type="checkbox"> Feline, Lion</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="leopard" type="checkbox"> Feline, Leopard</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="snowleopard" type="checkbox"> Feline, Snow leopard</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="panther" type="checkbox"> Feline, Panther</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="cheetah" type="checkbox"> Feline, Cheetah</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="cougar" type="checkbox"> Feline, Cougar</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="domesticcat" type="checkbox"> Feline, Domestic cat</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherfeline" type="checkbox"> Feline, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="dragon" type="checkbox"> Reptiloid, Dragon</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="lizard" type="checkbox"> Reptiloid, Lizard</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="dinosaur" type="checkbox"> Reptiloid, Dinosaur</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherreptile" type="checkbox"> Reptiloid, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="raccoon" type="checkbox"> Musteloid, Raccoon</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="skunk" type="checkbox"> Musteloid, Skunk</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="badger" type="checkbox"> Musteloid, Badger</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="riverotter" type="checkbox"> Musteloid, Otter, River</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="seaotter" type="checkbox"> Musteloid, Otter, Sea</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="weasel" type="checkbox"> Musteloid, Weasel</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="othermustelid" type="checkbox"> Musteloid, Other mustelid</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="redpanda" type="checkbox"> Musteloid, Red Panda</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="othermusteloid" type="checkbox"> Musteloid, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="horse" type="checkbox"> Ungulate, Horse</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="deer" type="checkbox"> Ungulate, Deer</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherungulate" type="checkbox"> Ungulate, Other</label>      
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="brownbear" type="checkbox"> Bear, Brown</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="grizzlybear" type="checkbox"> Bear, Grizzly</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="pandabear" type="checkbox"> Bear, Panda</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="polarbear" type="checkbox"> Bear, Polar</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherbear" type="checkbox"> Bear, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="mouse" type="checkbox"> Rodent, Mouse</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="rat" type="checkbox"> Rodent, Rat</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="squirrel" type="checkbox"> Rodent, Squirrel</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="other" type="checkbox"> Rodent, Other/Nonspecific</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="raven" type="checkbox"> Bird, Raven/Crow</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="raptor" type="checkbox"> Bird, Bird of Prey</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherbird" type="checkbox"> Bird, Other</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="rabbit" type="checkbox"> Rabbit/Hare</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="kangaroo" type="checkbox"> Kangaroo</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="koala" type="checkbox"> Koala</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="othermarsupial" type="checkbox"> Other Marsupial</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="lemur" type="checkbox"> Lemur</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="monkey" type="checkbox"> Monkey</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="otherprimate" type="checkbox"> Other Primate</label>
    </div>
    <div class="species-block">
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="hyaena" type="checkbox"> Hyena</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="bat" type="checkbox"> Bat</label>
        <label class="checkbox"><input name="chr_{{ characterId }}_category" value="griffin" type="checkbox"> Griffin</label>
    </div>
    <br clear="all" />
    <label class="checkbox"><input name="chr_{{ characterId }}_category" value="other" type="checkbox"> Other</label>
    <p>
        Optionally, enter your own species text:</label>
        <input name="chr_{{ characterId }}_species" type="text" size="36">
    </p>
    <h4>What is the reason you chose this/these species for this character?</h4>
    <textarea name="chr_{{ characterId }}_reason"></textarea></label>
    <label class="checkbox"><input type="checkbox" name="chr_{{ characterId }}_primary"{{#if isFirst}} checked="checked"{{/if}} /> This is my primary character.</label>
    <label class="checkbox"><input type="checkbox" name="chr_{{ characterId }}_deprecated" /> I no longer identify as this character.
</div>
