<!-- Character -->
<div class="character" data-characternumber="{{ characterId }}">
    <h3>Character #{{ characterId }}</h3>
    <h4>What species is this character? (If this character is a hybrid, check all that apply)</h4>
    <table class="align-left">
        <tr>
            <td>
                <input name="chr_{{ characterId }}_category" value="wolf" type="checkbox"> Canine, Wolf<br />
                <input name="chr_{{ characterId }}_category" value="redfox" type="checkbox"> Canine, Fox, Red<br />
                <input name="chr_{{ characterId }}_category" value="greyfox" type="checkbox"> Canine, Fox, Grey<br />
                <input name="chr_{{ characterId }}_category" value="arcticfox" type="checkbox"> Canine, Fox, Arctic<br />
                <input name="chr_{{ characterId }}_category" value="kitsune" type="checkbox"> Canine, Fox, Kitsune<br />
                <input type="chr_{{ characterId }}_category" value="fennec" type="checkbox"> Canine, Fox, Fennec<br />
                <input name="chr_{{ characterId }}_category" value="otherfox" type="checkbox"> Canine, Fox, Other/Nonspecific<br />
                <input name="chr_{{ characterId }}_category" value="coyote" type="checkbox"> Canine, Coyote<br />
                <input name="chr_{{ characterId }}_category" value="jackal" type="checkbox"> Canine, Jackal<br />
                <input name="chr_{{ characterId }}_category" value="germanshepherd" type="checkbox"> Canine, Dog, German shepherd<br />
                <input name="chr_{{ characterId }}_category" value="husky" type="checkbox"> Canine, Dog, Husky<br />
                <input name="chr_{{ characterId }}_category" value="collie" type="checkbox"> Canine, Dog, Collie<br />
                <input name="chr_{{ characterId }}_category" value="otherdog" type="checkbox"> Canine, Dog, Other/Nonspecific<br />
                <input name="chr_{{ characterId }}_category" value="othercanine" type="checkbox"> Canine, Other/Nonspecific<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="tiger" type="checkbox"> Feline, Tiger<br />
                <input name="chr_{{ characterId }}_category" value="lion" type="checkbox"> Feline, Lion<br />
                <input name="chr_{{ characterId }}_category" value="leopard" type="checkbox"> Feline, Leopard<br />
                <input name="chr_{{ characterId }}_category" value="snowleopard" type="checkbox"> Feline, Snow leopard<br />
                <input name="chr_{{ characterId }}_category" value="panther" type="checkbox"> Feline, Panther<br />
                <input name="chr_{{ characterId }}_category" value="cheetah" type="checkbox"> Feline, Cheetah<br />
                <input name="chr_{{ characterId }}_category" value="cougar" type="checkbox"> Feline, Cougar<br />
                <input name="chr_{{ characterId }}_category" value="domesticcat" type="checkbox"> Feline, Domestic cat<br />
                <input name="chr_{{ characterId }}_category" value="otherfeline" type="checkbox"> Feline, Other/Nonspecific<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="dragon" type="checkbox"> Reptiloid, Dragon<br />
                <input name="chr_{{ characterId }}_category" value="lizard" type="checkbox"> Reptiloid, Lizard<br />
                <input name="chr_{{ characterId }}_category" value="dinosaur" type="checkbox"> Reptiloid, Dinosaur<br />
                <input name="chr_{{ characterId }}_category" value="otherreptile" type="checkbox"> Reptiloid, Other/Nonspecific<br />
            </td>
        </tr>
        <tr>
            <td>
                <input name="chr_{{ characterId }}_category" value="raccoon" type="checkbox"> Musteloid, Raccoon<br />
                <input name="chr_{{ characterId }}_category" value="skunk" type="checkbox"> Musteloid, Skunk<br />
                <input name="chr_{{ characterId }}_category" value="badger" type="checkbox"> Musteloid, Badger<br />
                <input name="chr_{{ characterId }}_category" value="riverotter" type="checkbox"> Musteloid, Otter, River<br />
                <input name="chr_{{ characterId }}_category" value="seaotter" type="checkbox"> Musteloid, Otter, Sea<br />
                <input name="chr_{{ characterId }}_category" value="weasel" type="checkbox"> Musteloid, Weasel<br />
                <input name="chr_{{ characterId }}_category" value="othermustelid" type="checkbox"> Musteloid, Other mustelid<br />
                <input name="chr_{{ characterId }}_category" value="redpanda" type="checkbox"> Musteloid, Red Panda<br />
                <input name="chr_{{ characterId }}_category" value="othermusteloid" type="checkbox"> Musteloid, Other/Nonspecific<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="horse" type="checkbox"> Ungulate, Horse<br />
                <input name="chr_{{ characterId }}_category" value="deer" type="checkbox"> Ungulate, Deer<br />
                <input name="chr_{{ characterId }}_category" value="otherungulate" type="checkbox"> Ungulate, Other<br />      
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="brownbear" type="checkbox"> Bear, Brown<br />
                <input name="chr_{{ characterId }}_category" value="grizzlybear" type="checkbox"> Bear, Grizzly<br />
                <input name="chr_{{ characterId }}_category" value="pandabear" type="checkbox"> Bear, Panda<br />
                <input name="chr_{{ characterId }}_category" value="polarbear" type="checkbox"> Bear, Polar<br />
                <input name="chr_{{ characterId }}_category" value="otherbear" type="checkbox"> Bear, Other/Nonspecific<br />
            </td>
        </tr>
        <tr>
            <td>
                <input name="chr_{{ characterId }}_category" value="mouse" type="checkbox"> Rodent, Mouse<br />
                <input name="chr_{{ characterId }}_category" value="rat" type="checkbox"> Rodent, Rat<br />
                <input name="chr_{{ characterId }}_category" value="squirrel" type="checkbox"> Rodent, Squirrel<br />
                <input name="chr_{{ characterId }}_category" value="other" type="checkbox"> Rodent, Other/Nonspecific<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="raven" type="checkbox"> Bird, Raven/Crow<br />
                <input name="chr_{{ characterId }}_category" value="raptor" type="checkbox"> Bird, Bird of Prey<br />
                <input name="chr_{{ characterId }}_category" value="otherbird" type="checkbox"> Bird, Other<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="rabbit" type="checkbox"> Rabbit/Hare<br />
            </td>
        </tr>
        <tr>
            <td>
                <input name="chr_{{ characterId }}_category" value="kangaroo" type="checkbox"> Kangaroo<br />
                <input name="chr_{{ characterId }}_category" value="koala" type="checkbox"> Koala<br />
                <input name="chr_{{ characterId }}_category" value="othermarsupial" type="checkbox"> Other Marsupial<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="lemur" type="checkbox"> Lemur<br />
                <input name="chr_{{ characterId }}_category" value="monkey" type="checkbox"> Monkey<br />
                <input name="chr_{{ characterId }}_category" value="otherprimate" type="checkbox"> Other Primate<br />
            </td>
            <td>
                <input name="chr_{{ characterId }}_category" value="hyaena" type="checkbox"> Hyena<br />
                <input name="chr_{{ characterId }}_category" value="bat" type="checkbox"> Bat<br />
                <input name="chr_{{ characterId }}_category" value="griffin" type="checkbox"> Griffin<br />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input name="chr_{{ characterId }}_category" value="other" type="checkbox"> Other
            </td>
        </tr>
    </table>
    <p>
        Optionally, enter your own species text:<br />
        <input name="chr_{{ characterId }}_species" type="text" size="36">
    </p>
    <h4>What is the reason you chose this/these species for this character?</h4>
    <textarea name="chr_{{ characterId }}_reason"></textarea><br />
    <input type="checkbox" name="chr_{{ characterId }}_primary"{{#if isFirst}} checked="checked"{{/if}} /> This is my primary character.<br />
    <input type="checkbox" name="chr_{{ characterId }}_deprecated" /> I no longer identify as this character.
</div>
